<a href="https://colab.research.google.com/github/ItsMeYobs/Data-Mining-Activity/blob/main/Lecture_6_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas DataFrame**

**Targets**

*   Create DataFrame
*   Viewing top and bottom rows
*   specifying a sequence of columns
*   passing a column that isn't contained in the dictionary
*   column retrieval
*   Selection of dataframe data with loc and iloc
*   swap rows and columns using Transpose
*   set name for dataframe index and columns

A **DataFrame** represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). The DataFrame has both a row and column index; it can be thought of as a dict of Series all sharing the same index. Under the hood, the data is stored as one or more two-dimensional blocks rather than a list, dict, or some other collection of one-dimensional arrays.

In [ ]:
import pandas as pd
import numpy as np

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

pd.DataFrame()

In [ ]:
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
frame[['state']]

    state
0    Ohio
1    Ohio
2    Ohio
3  Nevada
4  Nevada
5  Nevada

DataFrame(data,index,columns,type)

In [ ]:
frame.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
frame.columns

Index(['state', 'year', 'pop'], dtype='object')

**Viewing top and bottom rows**

In [ ]:
frame.head(3)

  state  year  pop
0  Ohio  2000  1.5
1  Ohio  2001  1.7
2  Ohio  2002  3.6

In [ ]:
frame.tail(2)

    state  year  pop
4  Nevada  2002  2.9
5  Nevada  2003  3.2

**specifying a sequence of columns**

In [ ]:
pd.DataFrame(data, columns=['year','pop','state'])

   year  pop   state
0  2000  1.5    Ohio
1  2001  1.7    Ohio
2  2002  3.6    Ohio
3  2001  2.4  Nevada
4  2002  2.9  Nevada
5  2003  3.2  Nevada

**passing a column that isn’t contained in the dictionary**

In [ ]:
frame2 = pd.DataFrame(data,columns=['year','pop','state','debt'], index=['a','b','c','e','d','e'])
frame2

   year  pop   state debt
a  2000  1.5    Ohio  NaN
b  2001  1.7    Ohio  NaN
c  2002  3.6    Ohio  NaN
e  2001  2.4  Nevada  NaN
d  2002  2.9  Nevada  NaN
e  2003  3.2  Nevada  NaN

**Column Retrieval**

In [ ]:
frame2['state']

a      Ohio
b      Ohio
c      Ohio
e    Nevada
d    Nevada
e    Nevada
Name: state, dtype: object

In [ ]:
print(type(frame2['state']))

<class 'pandas.core.series.Series'>

In [ ]:
frame2.state

a      Ohio
b      Ohio
c      Ohio
e    Nevada
d    Nevada
e    Nevada
Name: state, dtype: object

In [ ]:
frame2.pop

<bound method DataFrame.pop of    year  pop   state debt
a  2000  1.5    Ohio  NaN
b  2001  1.7    Ohio  NaN
c  2002  3.6    Ohio  NaN
e  2001  2.4  Nevada  NaN
d  2002  2.9  Nevada  NaN
e  2003  3.2  Nevada  NaN>

In [ ]:
frame2[['state','year']]

    state  year
a    Ohio  2000
b    Ohio  2001
c    Ohio  2002
e  Nevada  2001
d  Nevada  2002
e  Nevada  2003

In [ ]:
frame2.iloc

**Column Data Modification by Assignment**

In [ ]:
frame2['debt'] = 6

In [ ]:
frame2

   year  pop   state  debt
a  2000  1.5    Ohio     6
b  2001  1.7    Ohio     6
c  2002  3.6    Ohio     6
e  2001  2.4  Nevada     6
d  2002  2.9  Nevada     6
e  2003  3.2  Nevada     6

In [ ]:
frame2['debt'] = np.random.randn(6)

In [ ]:
frame2

   year  pop   state      debt
a  2000  1.5    Ohio -0.148996
b  2001  1.7    Ohio -0.947988
c  2002  3.6    Ohio  0.178988
e  2001  2.4  Nevada  1.463210
d  2002  2.9  Nevada  1.328517
e  2003  3.2  Nevada -0.359862

**swap rows and columns using Transpose**

In [ ]:
frame3 = frame2.T

In [ ]:
frame3

              a         b         c         e         d         e
year       2000      2001      2002      2001      2002      2003
pop         1.5       1.7       3.6       2.4       2.9       3.2
state      Ohio      Ohio      Ohio    Nevada    Nevada    Nevada
debt   0.994063  1.776233  0.508557  0.446026  1.529888 -1.259371

**Set name for DataFrame and Columns**

In [ ]:
frame3.index.name = 'rows'
frame3.columns.name= 'attributes'
frame3

attributes         a         b         c        e         d         e
rows
year            2000      2001      2002     2001      2002      2003
pop              1.5       1.7       3.6      2.4       2.9       3.2
state           Ohio      Ohio      Ohio   Nevada    Nevada    Nevada
debt       -0.148996 -0.947988  0.178988  1.46321  1.328517 -0.359862

In [ ]:
frame3 = data.iloc[[0,4], [0,1]]
frame3

AttributeError: ignored